body {
    width: 99%;
    text-align: center;
    background-color: grey;
}

h1 {
    margin: 2% auto;
    color: white;
}

#program {
    height: 20%;
    width: 50%;
    resize: none;
    font-size: large;
}